<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>


    <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.eclipse.ui"
            class="name.shepherdson.eclipse.editors.views.editors.EditorsViewPart"
            icon="icons/editors.png"
            id="EditorsView"
            name="Editors"
            restorable="true">
      </view>
   </extension> 

   

</plugin>
